body {
  color: rgb(25, 21, 16);
  background-color: rgb(249, 239, 228);
}

.title {
  margin: 14px;
  padding: 14px;
  width: 100%;
  text-align: center;
}

.view-block {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgb(139, 116, 87);
}

.view-content {
  margin: 14px;
  padding: 14px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(137, 124, 105);
  border-radius: 4px;
}

.post {
  background-color: burlywood;
  color: rgb(23, 19, 14);
  border-radius: 4px;
}

.post-content {
  margin: 14px;
  padding: 14px;
  color: rgb(23, 19, 14);
  border-radius: 4px;
}

.posting {
  background-color: rgb(247, 223, 188);
  color: rgb(23, 19, 14);
}

.posting-content {
  margin-left: 142px;
}

.post-info {
  color: rgb(129, 109, 83);
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: small;
}

/*
.avatar-img {
  border-radius: 50%;
}*/

.post-profile {
  width: 128px;
  float: left;
  margin-right: 14px;
}

.post-Title {
  margin-bottom: 14px;
  font-family: courier, courier new, serif;
  font-weight: bold;
  line-height: 19pt;
  color: black;
  border-radius: 4px;
}

.post-text {
  /*font-family: courier, courier new, serif;*/
  margin-left: 142px;
  line-height: 19pt;
  color: rgb(48, 48, 48);
  border-radius: 4px;
  min-height: 142px;
  background-color: rgb(255, 252, 247);
}

.post-profile-description {
  margin-top: 4px;
}

.view-buttons-right {
  text-align: right;
  padding: 14px;
}

.view-buttons {
  padding-top: 14px;
}

.view-centered {
  text-align: center;
}
